.head{
	width: 500px;
	margin-top: 20px;
	margin-left: 50%;
	transform: translate(-50%,0);
}

#head{
	text-align: center;
	padding-top: 20px;
	}

.main{
	font-family: 'Alata', sans-serif;
	font-size: 25px;
	text-align: center;
}

.pics{
	margin: auto;
	/*background: black;*/
	margin-left: 50%;
	transform: translate(-50%,0);
	width: 22%;
	margin-top: 50px;
}