.head{
width: 40%;
padding-top: 30px;
}

#head{
	text-align: center;
	padding-top: 20px;
	}

.mainContent {
	font-family: 'Alata', sans-serif;
	margin-right: 10%;
	margin-left: 10%;
}


.mainForm{
	position: relative;
	/*background: #1ee9a4;*/
	left: 50%;
	transform: translate(-50%,0);
}

.buttons{
	color: black;
	background: #1ee9a4; 
	margin: 2px;
}

.buttons:hover{
	background: #e91e63;
	color: white;
}

.buttons:active{
	background:#c9e91e; 
	color: black;
}

.ResultP{
	background: #e5697e;
	margin: auto;
	padding: 10px;
	width: 300px;
	border-radius: 50px;
}

.ResultP:hover{
	background: #69e5d0;
	color: white;
}

.ResultP:active{
	background: #152d29;
	color: white;
}