/*html,body{
	display: none;
}*/
html,body{
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
	text-decoration-style: none;
}
a{
	text-decoration: none;
}
.btnDown{
	padding: 20px;
	border: 1px dashed orange;
	border-radius: 20px;
}
.btnDown:hover{
	background: #fff200;
	transition: 0.3s;
}
.btnDownB{
	padding: 20px;
	border: 1px dashed green;
}
.foots{
	bottom: 0px;	
}
.mainBody{
	/*display: none;*/
	margin-top: 30%;
	text-align: center;
	width: 80%;
	margin-left: 50%;
	transform: translate(-50%,-50%);
}
.testH{
	display: block;
}
.header{
	margin-top: 100px;
	padding: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	justify-content: center;
	top: 100px;
	border-radius: 20px;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	border: 2px #fff200 dashed;
	/*background-color: #fff200;*/
}
.header >img{
	height: 10vh;
}
.lastLine{
	display: none;
}
.logo{
display: none;
}
.Heading{
display: none;
}
.subHeading{
display: none;
}
.wrapper{
display: none;
}
.wrapper >div{
display: none;
}
.wrapper >div:active{
display: none;
}
.socialStat{
display: none;
}
.socialMedia{
display: none;
}

.socialMedia >i:hover{
display: none;
}

.socialMedia >i:active{
display: none;
}
.footer{
display: none;

}
.offlineDetect{
display: none;

}
.donateButton{
display: none;
}
.donateButton:hover{
display: none;
}
.inputF{
display: none;
}
.inputB{
display: none;
}
@media (display-mode: standalone){
html,body{
/*	display: block;*/
	margin: 0px;
	overflow-x: hidden;
}
.mainBody{
	display: none;
}
.header{
	display: none;
}
.header >img{
	display: none;
}
.lastLine{
	display: block;
}
*{
	text-decoration: none;
}

.logo{
	height: 20vh;
	margin-left: 50%;
	margin-top: 5vh;
	transform: translate(-50%, 0);
}
.Heading{
	color: #008bfe;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	font-size: 3rem;
	margin-top: 5px;
	margin-bottom: 0px;
	text-transform: capitalize;
}
.subHeading{
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	font-size: 0.7rem;
	margin-top: 2px;
}
.wrapper{
/*	margin: 20px;*/
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}
.wrapper >div{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 20% 70% 10%;
	justify-items: center;
	align-items: center;
	font-family: 'Work Sans', sans-serif;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #e4e4e4;
}
.wrapper >div:active{
	transform: scale(0.98);
	transition: 0.3s;
}
.socialStat{
	font-family: 'Work Sans', sans-serif;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #e4e4e4;
}
.socialMedia{
	padding: 5px;
	border-radius: 20px;
	/*background-color: yellow;*/
	display: grid;
	grid-gap: 20px;
	width: 100%;
	grid-template-columns: repeat(8, 30px);
	justify-content: center;
	margin-top: 20px;
}

.socialMedia >i:hover{
	color: magenta;
}

.socialMedia >i:active{
	color: red;
}
.footer{
	margin-top: 10px;
	padding: 1px;
	position: absolute;
	width: 100%;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	background: #f3f4f6;
	box-shadow: 1px 1px 2px 0px;
	font-family: 'Work Sans', sans-serif;

}
.offlineDetect{
	display: none;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	padding: 20px;
	background: #ff758c;

}
.donateButton{
	text-align: center;
	background: #ff758c;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #e4e4e4;
}
.donateButton:hover{
	background: #75ffe8;
	transition: 0.3s;
}
.inputF{
	padding: 10px;
	border: 1px dashed red;
	text-transform: capitalize;
}
.inputB{
	padding: 10px;
	background: white;
	border: 1px dashed orange; 
}
}